APP_NAME="Kinetix Review Service"
APP_ENV="development"
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE="UTC"
APP_URL="http://localhost:8002"

PORT=8002

DB_CONNECTION="pgsql"
DB_HOST="localhost"
DB_PORT=5436
DB_DATABASE="kinetix_review_dev"
DB_USERNAME="postgres"
DB_PASSWORD="postgrespassword"

ORDER_SERVICE_GRPC_URL="localhost:50055"
IDENTITY_SERVICE_GRPC_URL="localhost:50052"
